header.page-header
  .container
    h1.logo
      a.logo-link(href="#{basePath}/") Service Line Up
    nav
      ul
        li
          a.nav-link.menu.icon-menu(href="#") Menu
        li
          a(href="#{basePath}/products", class="nav-link icon-products #{productsClasses}") Products
        li
          a(href="#{basePath}/faq", class="nav-link icon-question #{faqClasses}") FAQ
        li
          a(href="#{basePath}/contact", class="nav-link icon-contact #{contactClasses}") Contact
        li
          a.nav-link.icon-enter(href="#{securePath}/Login.aspx") Log In